doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/stylesheets/metro.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/metro-icons.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/metro-responsive.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/metro-rtl.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/metro-schemes.css")
    script(src="/javascripts/jquery-2.1.0.js" type="text/javascript", charset="utf-8")
    script(src="/javascripts/metro.js" type="text/javascript" charset="utf-8")
      script(src="/javascripts/accordion.js" type="text/javascript" charset="utf-8")
    style
        body
            background-color: #FFF
            overflow-y: hidden
             strong
                 color: #D20909
  body
    block content
